 
<!--CSS-->

 <!-- PASSIONATE -->
      <div id="passionate" class="horizontalsection text-light parallax-section">
      <div class="horizontalinner wrapper align-center">
        <h2> build cool things with cool people </h2>
        <div class="spacer spacer-small"></div>
        <p>
          <% if user_signed_in? %>
          <a href="./posts/new" class="scroll-to sr-button sr-button4 medium-button">Launch Idea</a>
          <% else %>
          <a href="./login" class="scroll-to sr-button sr-button4 medium-button">Launch Idea</a>
          <% end %>
        </p>
      </div>
    </div>
<br> <br>

<script>
<div class="container" style="padding-right:50px;padding-left:50px;">
<link rel="stylesheet" href="assets/gridGallery.css" /> </script>
<div id="grid">
         <% @posts.each do |post| %>
        <div class="box" data-url="posts/<%=post.id%>" data-category="Illustrations">
 
            <%=image_tag post.logoimage %> 
           
            <div data-image="./assets/bar.png" ></div>
            
            <div class="thumbnail-caption">
                 <h3g> <%= post.project_name %></h3g>
            <br>
            <h5g><i class="fa fa-map-marker">  </i> <%= post.location %></h5g>
              <br>
             
<h6g> <%= post.quick_pitch %> </h6g>
            </div>

        </div>
        <%end%>
<br>

</div>

<!-- SCRIPTS FOR THE PLUGIN -->

<script src="assets/jquery-1.9.1.min.js"></script>
<script src="assets/rotate-patch.js"></script>
<script src="assets/gridGallery.min.js"></script>
<script>
  
    $(function(){
        //INITIALIZE THE PLUGIN
        $('#grid').grid({

          showFilterBar: true, //Show the navigation filter bar at the top
            imagesToLoad: 4, //The number of images to load when you click the load more button
            imagesToLoadStart: 15, //The number of images to load when it first loads the grid
            lazyLoad: false, //If you wish to load more images when it reach the bottom of the page
            isFitWidth: true, //Nedded to be true if you wish to center the gallery to its container
            horizontalSpaceBetweenThumbnails: 15, //The space between images horizontally
            verticalSpaceBetweenThumbnails: 15, //The space between images vertically
            columnWidth: 'auto', //The width of each columns, if you set it to 'auto' it will use the columns instead
            columns: 5, //The number of columns when you set columnWidth to 'auto'
            columnMinWidth: 220, //The minimum width of each columns when you set columnWidth to 'auto'
            isAnimated: true, //If you wish the gallery to have animated effects when resizing the grid
            caption: true, //Show the caption in mouse over
            captionType: 'grid', // 'grid', 'grid-fade', 'classic' the type of caption effect
            lightBox: true, //Do you want the lightbox?
            lightboxKeyboardNav: true, //Keyboard navigation of the next and prev image
            lightBoxSpeedFx: 500, //The speed of the lightbox effects
            lightBoxZoomAnim: true, //Do you want the zoom effect of the images in the lightbox?
            lightBoxText: true, //If you wish to show the text in the lightbox
            lightboxPlayBtn: true, //Show the play button?
            lightBoxAutoPlay: false, //The first time you open the lightbox it start playing the images
            lightBoxPlayInterval: 4000, //The interval in the auto play mode
            lightBoxShowTimer: true, //If you wish to show the timer in auto play mode
            lightBoxStopPlayOnClose: false, //Do you want pause the auto play mode when you close the lightbox?

        });
    });
       
</script>

    